<!DOCTYPE html>
<html>
<head>
  <title>Agro Engineering</title>
  <%= stylesheet_link_tag    '/agroapp/app/application.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  '/agroapp/app/application.js', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
