<!DOCTYPE html>
<html>
<head>
  <title>Agro Engineering</title>
  <%= stylesheet_link_tag    'application', 'http://agro.com/indexstyle.css', media: 'all', 'data-turbolinks-track' => true %> -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
