/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
html {
	background-color: #333333;
}
a{
	color: #ccc;
}
.pagetop {
	background-color: #333333;
	margin-top:-10px;
	text-align: center;
	width: 100%;
	font-size: 1em;
	z-index: 1;
	margin-bottom:5px;
	padding:10px 0px 0px 0px;
	float:left;
}
.pagetop_pic {
	float: left;
}
.pagetop_pic img {
	width:12vw;
	height:auto;
	padding: 0px;
	margin-top: 0vw;
	float: left;
	min-width: 100px;
}
.pagetop ul{
	float:right;
}
.pagetop ul li {
	display: inline-block;
	position:relative;
	padding:0px 0px 10px 15px;
	margin-top:2vw;
	text-align:left;
}
.pagetop ul li a:link {
	color:#ccc;
	text-decoration: none;
}
.pagetop ul li a:visited {
	color:#ccc;
	text-decoration: none;
}
.pagetop ul li a:hover {
	text-decoration: none;
	color:white;
}
.pagetop ul li a:active {
	color:#ccc;
	text-decoration: none;
}
.picturetop {
	background: url(http://i.imgur.com/lzmfvlh.jpg);
}
.picturemidtop{
	background: url(http://i.imgur.com/gqpR1Bm.jpg?1);
}
.picturebot {
	background: url(http://i.imgur.com/r6cgZ5W.jpg);
}
.picturetop, .picturebot, .picturemidtop{
  	background-size: 100% ;
  	background-repeat:no-repeat;
	height:38vw;
	clear:both;
}
.picoverlay {
	color: #333333;
	text-align: center;
	margin: 0 auto;
}
.picoverlay p {
	max-width: 900px;
	text-align: center;
	margin: 0 auto;
}
.subjects {
	padding: 20px 0px 0px 0px;
	font-family: Arial;
	font-size: 1.4em;
	color: #333333;
	font-weight:700;
	text-shadow:0px 2px 11px #ccc;
	max-width: 900px;
	text-align: center;
	margin: 0 auto;
}
.subjectbottom a{
	color: #333333;
}
.subjectbottom {
	margin-top: 10px;
	display: inline-block;
	padding: 0px 5px 0px 5px;
	margin-bottom: 450px;
}
.splitbar {
	text-align: center;
	width:100%;
	max-width: 900px;
	margin: 0 auto;
	color:#ccc;
}
.splitbar ul li {
	display: inline-block;
	padding:10px;
}
.aboutus {
	clear: both;
	color: #ccc;
	text-align: center;
	max-width:900px;
	margin:0 auto;
	color:#ccc;
}
.aboutuspic{
	width:100%;
	text-align:center;
}
.aboutuspic img{
	clear:both;
	height:auto;
	width:100%;
}
.aboutustext ul li {
	text-align:center;
	display:inline-block;
	padding: 0px 5px 0px 5px;
}
.aboutustext a:link{
	color: #ccc;
}
.aboutustext a:visited{
	color: #ccc;	
}
.aboutustext a:hover{
	color: white;	
}
.aboutustext a:active{
	color: #ccc;
}
.bottomaboutustext{
	clear:both;
	color: #ccc;
	float:left;
	width:100%;
	text-align:center;
	font-size: .9em;
}
.clientlogininfo{
	color:#ccc;
	float: left;
	width:100%;
	text-align:center;
}
.clientlogininfo a:link{
	color: #ccc;
}
.clientlogininfo a:visited{
	color: #ccc;	
}
.clientlogininfo a:hover{
	color: white;	
}
.clientlogininfo a:active{
	color: #ccc;
}
.contactus {
	max-width: 900px;
	margin:0 auto;
}
.contactus img {
	height: auto;
	max-width: 900px;
}
.contactusinfo {
	clear:both;
	color:#ccc;
	text-align: center;
}
.aphidmaplinks {
	color: #ccc;
	position: relative;
	float: left;
	clear: both;
	width:100%;
	text-align:center;
}
.aphidmaplinks a:link{
	color: #ccc;
}
.aphidmaplinks a:visited{
	color: #ccc;	
}
.aphidmaplinks a:hover{
	color: white;	
}
.aphidmaplinks a:active{
	color: #ccc;
}
.ourstaffheader {
	color: #ccc;
	clear:both;
	width:100%;
	text-align: center;
}
.twopersoncontainer{
	max-width:900px;
	clear:both;
	margin:0 auto;
}
.photo1 {
	max-width: 400px;
	font-size:.9em;
	float:left;
}
.photo1 img{
	clear: both;
	position:relative;
	float:left;
	height: auto;
	width: 150px;
	padding: 0px 5px 10px 0px;
}
.photoinfo1 {
	line-height: .8;
	float:left;
	position: relative;
	padding: 0px 0px 0px 0px;
}
.photo2 {
	max-width: 400px;
	font-size:.9em;
	float:right;
}
.photo2 img{
	position:relative;
	float:right;
	height: auto;
	width: 150px;
	padding: 0px 0px 10px 5px;
}
.photoinfo2 {
	line-height: .8;
	float:right;
	position: relative;
	padding: 0px 0px 0px 0px;
}

.ourstaffheader a:link{
	color: #ccc;
}
.ourstaffheader a:visited{
	color: #ccc;	
}
.ourstaffheader a:hover{
	color: white;	
}
.ourstaffheader a:active{
	color: #ccc;
}
.resourcelinks{
	clear: both;
	color: #ccc;
	width:60%;
	max-width:900px;
	margin:0 auto;
	text-align:center;
}
.resourcelinks h3 {
	padding-left: 30px;
}
.resourcelinks ul {
	list-style-type: none;
}
.resourcelinks ul li a:link {
	color: #ccc;
}
.resourcelinks ul li a:visited {
	color: #ccc;
}
.resourcelinks ul li a:hover {
	color: white;
}
.resourcelinks ul li a:active {
	color: #ccc;
}
.resourcelinks a:link {
	color: #ccc;
}
.resourcelinks a:visited {
	color: #ccc;
}
.resourcelinks a:hover {
	color: white;
}
.resourcelinks a:active {
	color: #ccc;
}
.servicestitle{
	clear: both;
	position:relative;
	float:left;
	color:#ccc;
	width:100%;
	text-align: center;
}
.servicesgrid{
	clear:both;
  	max-width: 900px;
  	margin:0 auto;
}
.servicesgrid div{
	width:200px;
	height:200px;
  	background-size: 100% ;
  	background-repeat:no-repeat;
  	display:inline-block;
  	float:left;
  	position:relative;
  	border:2px solid #ccc;
  	margin:10px;
  }
  .servicesgrid a div h3{
  	color:#333;
  	text-align:center;
  	vertical-align: middle;
  	background-color: rgba(204, 204, 204, 0.6);

  }
.servicesgrid a div h3:link {
	color: #333;
	text-decoration: none;
}
.servicesgrid a div h3:visited {
	color: #333;
	text-decoration: none;
}
.servicesgrid a div h3:hover {
	color: #3E3D3D;
	background-color:#ccc;
	text-decoration: none;
}
.servicesgrid a div h3:active {
	color: #333;
	text-decoration: none;
}
.servicesgrid a div:link {
	text-decoration: none;
}
.servicesgrid a div:visited {
	text-decoration: none;
}
.servicesgrid a div:hover {
	text-decoration: none;
}
.servicesgrid a div:active {
	text-decoration: none;
}
.iwm{
	background: url("http://i.imgur.com/Fjp1vKJ.jpg?3");
}
.irrigationdesign{
	background: url("http://i.imgur.com/gpvgqgC.jpg?2");
}
.ipm{
	background: url("http://i.imgur.com/odQXFon.jpg?2");
}
.flowmetercert{
	background: url("http://i.imgur.com/3fI9zYQ.jpg?1");
}
.planttissue{
	background: url("http://i.imgur.com/ichKJLV.png?2");
}
.soilfertility{
	background: url("http://i.imgur.com/PSJ4U3z.jpg?2");
}
.training{
	background: url("http://i.imgur.com/fUEZnli.jpg?2");
}
.waterrights{
	background: url("http://i.imgur.com/Wi2sqX0.jpg?1");
}
.harvestevaluation{
	background: url("http://i.imgur.com/FhcEOMV.jpg?2");
}
.aerial{
	background: url('http://i.imgur.com/oiEG6NT.png?1');
}
.appliedresearch{
	background: url("http://i.imgur.com/tXsHmAb.jpg?2");
}
.storageevaluation{
	background: url("http://i.imgur.com/MX4mZy3.jpg?2");
}
.remotesensing{
	background: url("http://i.imgur.com/FKet1Cw.jpg?2");
}
.specialprojects{
	background: url("http://i.imgur.com/rcqwCM0.jpg?2");
}
.specificservicestitle{
	clear: both;
	clear:both;
	width:60%;
	color:#ccc;
	margin:0 auto;
	text-align: center;
}
.specificservicedescription{
	clear:both;
	color:#ccc;
	max-width: 900px;
	width:60%;
	margin:0 auto;
}
.returntoservicesbutton{
	clear:both;
	text-align: center;
}
.returntoservicesbutton a{
	color: #333333;
	background-color: #ccc;
	border: 2px solid #ccc;
	border-radius: 5px;
	padding: 5px 10px 10px 10px;
	clear:both;
}
.shortbio{
	max-width: 900px;
	margin: 0 auto;
}
.shortbiostuff {
	text-align: center;
	color: #ccc;
	position: relative;
	padding: 0px 0px 0px 10px;
	float:left;
	width: 50%;
}
.shortbio img {
	float:left;
	position:relative;
	height: auto;
	width: 300px;
}
.shortbio a {
	border: solid #ccc 2px;
	padding: 5px;
	background-color: #ccc;
	color: #333333;
}
.linkstoweatherpages ul li a:link {
	color: #ccc;
}
.linkstoweatherpages ul li a:visited {
	color: #ccc;
}
.linkstoweatherpages ul li a:hover {
	color: white;
}
.linkstoweatherpages ul li a:active {
	color: #ccc;
}
.weatherinfo ul li a:link {
	color: #ccc;
}
.weatherinfo ul li a:visited {
	color: #ccc;
}
.weatherinfo ul li a:hover {
	color: white;
}
.weatherinfo ul li a:active {
	color: #ccc;
}
.linkstoweatherpages {
	clear: both;
	position:relative;
	max-width: 900px;
	text-align:center;
	margin:0 auto;
}
.linkstoweatherpages ul li {
	display: inline-block;
	padding: 10px;
	font-size:1em;
}
.weatherinfo {
	color: #ccc;
	clear:both;
	max-width: 900px;
	margin:0 auto;
}
.pastweekdata{
	
}
.weatherlocations{
	color:#ccc;
}
.stationpic img{
	float:left;
}
.stationdetails {
	float:left;
	margin-left: 10px;
}
.pastweekdata object{
	width:100%;
	height: 1300px;
	background-color: white;
}
.lateblightimage object{
	width:100%;
	height: 3000px;
	margin:0 auto;
	background-color: white;
}
.nematodemodelimage object{
	width:100%;
	height: 700px;
	float:left;
	background-color: white;
	float:left;
}
#etforecast{
	color: black;
	border: 2px solid blue;
	background-color:#fff;
	width:100px;
}
.formformatting {
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
}
.container_footer {
	background-color: #333333;
	padding: 0px;
	text-align: center;
	text-transform: uppercase;
	float:left;
	position: relative;
	clear: both;
	width: 100%;
}
.container_footer p {
	padding: 0px 0px 0px 0px;
	text-transform: uppercase;
	color: #ccc;
}
#message_content_agro{
	color: #ccc;
}
#message_farm_name{
	color: #ccc;
}
#etforecast{
	color: black;
	border: 2px solid blue;
	background-color:#fff;
	width:100px;
}
#securitybuttons{
	max-width: 900px;
	margin: 0 auto;
	color: #fff;
}
#loginbutton {
	background-color: #333;
	color: #fff;
	border: 2px solid #fff;
	width: 200px;
	font-weight: 30;
	font-size: 2em;
	border-radius: 5px;
}
#signupbutton {
	background-color: #333;
	color: #fff;
	border: 2px solid #fff;
	width: 200px;
	font-weight: 30;
	border-radius: 5px;
	font-size: .8em;
}
.folderlinkstyle{
	font-size: 1.5em;
	max-width: 900px;
	margin:0 auto;
	text-align: center;
}
.linkandmessagearea{
	width: 100%;
	margin:0 auto;
	width: 900px;
	color: #ccc;
}
.informationlinkstyle{
	font-size: 1.1em;
	float:left;
	max-width:850px;
}
.messagesarea{
	color: #ccc;
	float:left;
	text-align:left;
	max-width:850px;
	clear:left;
	position:relative;
}
.messagearealoop{
	color: #ccc;
	float:left;
	text-align:left;
	max-width: 850px;
	clear:left;
	position:relative;
}
.newnotelink{
	text-align:right;
	border: 2px solid #ccc;
	color: #333;
	border-radius: 3px;
	float:right;
	width: 180px;
	font-size: 2em;
}
#message_create_time{
	color: #0096FD;
}
#message_author{
	color: #FBFE65;
}
#farm_header{
	width:100%;
	font-size: 2em;
	max-width: 900px;
	margin:0 auto;
	text-align: center;
	color: #ccc;
}
#author_field{
	color: black;
}
.bottomgeneric{
	clear: both;
}
.aerialphoto1 {
	max-width: 400px;
	font-size:.9em;
	float:left;
}
.aerialphotoinfo1 img{
	clear: both;
	position:relative;
	float:left;
	height: 330px;
	width: auto;
	padding: 0px 5px 10px 0px;
}
.aerialphotoinfo1 {
	line-height: .8;
	clear:left;
	float:left;
	padding: 2px;
	border: 2px solid #ccc;
}

.aerialphoto2 {
	max-width: 400px;
	font-size:.9em;
	float:right;
	text-align:right;
}
.aerialphotoinfo2 img{
	position:relative;
	float:right;
	height: 330px;
	width: auto;
	padding: 0px 0px 10px 5px;
	clear: both;
}
.aerialphotoinfo2 {
	line-height: .8;
	clear:right;
	float:right;
	padding: 2px;
	border: 2px solid #ccc;
}
#informationheader {
	clear: both;
}
.fakecss {
	float:right;
}
.briefdescripsmaller {
	color:#333;
}
.briefdescrip {
	color:#333;
}
