// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.formformatting{
	height:300px;
	width:300px;
}
#session_farm_name{
	width:100%;
	height:33%;
	font-size:25px;
	font-weight:10px;
}
#session_password{
	width:100%;
	height:33%;
	font-size:25px;
}
#session_submit{
	width:100%;
	height:33%;
	font-size:25px;
}
.mobileloginfooter{
	position:relative;
	margin-top:450px;
}
