<!doctype html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="http://www.agro.com/indexstyle.css" />
	<title>Aphid Maps</title>
</head>
<body>
	<div class="pagetop">
		<div class="pagetop_pic">
			<a href="http://www.agro.com"><img src="http://i.imgur.com/ii4SpRt.jpg" /></a>
		</div>
		<ul>
			<li><a href="http://www.agro.com/index.html">Home</a></li>
			<li><a href="http://www.agro.com/contactus.html">Contact Us</a></li>
			<li><a href="http://www.agro.com/clientlogin.html">Client Login</a></li>
			<li><a href="http://www.agro.com/aboutus.html">About Us</a></li>
			<li><a href="http://www.agro.com/services.html">Services</a></li>
			<li><a href="http://www.agro.com/ourstaff.html">Our Staff</a></li>
			<li><a href="http://www.agro.com/weather.html">Weather</a></li>
			<li><a href="http://www.agro.com/Resources.html">Resources</a></li>
			<li><a href="http://www.agro.com/ipmlinks.html">IPM Links</a></li>
		</ul>
	</div>
	<div class="aphidmaplinks">
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="5">Charts and Maps</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>2015 Files</b></font></p>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>Totals for 2015</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2015pdfs/Pantotal2015.pdf">Chart</a><br>
					<a href="IMPTraps/2015pdfs/Greenpeachfinal.pdf">Population Map-Green Peach Aphids</a><br>
					<a href="IMPTraps/2015pdfs/Miscfinal.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2015pdfs/psyllidfinal.pdf">Population Map-Potato Psyllids</a><br>
					<a href="IMPTraps/2015pdfs/LeafHopperfinal.pdf">Population Map-Leafhoppers</a><br>
					<a href="IMPTraps/2015pdfs/Potatopeafinal.pdf">Population Map-Potato and Pea Aphids</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>September 9th, 2015</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2015pdfs/Pan09-09-15.pdf">Chart</a><br>
					<a href="IMPTraps/2015pdfs/Greenpeach_09092015.pdf">Population Map-Green Peach Aphids</a><br>
					<a href="IMPTraps/2015pdfs/Misc_09092015.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2015pdfs/psyllid_09092015.pdf">Population Map-Potato Psyllids</a><br>
					<a href="IMPTraps/2015pdfs/LeafHopper_09092015.pdf">Population Map-Leafhoppers</a><br>
					<a href="IMPTraps/2015pdfs/miscaphidcount_09-09-2015.pdf">Miscellaneous Aphids in 2015 vs. Historical Average</a><br>
					<a href="IMPTraps/2015pdfs/greenpeachbyepoch_09-09-15.pdf">Green Peach By Week of Year</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>September 2nd, 2015</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2015pdfs/Pan09-02-15.pdf">Chart</a><br>
					<a href="IMPTraps/2015pdfs/Greenpeach_09022015.pdf">Population Map-Green Peach Aphids</a><br>
					<a href="IMPTraps/2015pdfs/Misc_09022015.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2015pdfs/psyllid_09022015.pdf">Population Map-Potato Psyllids</a><br>
					<a href="IMPTraps/2015pdfs/LeafHopper_09022015.pdf">Population Map-Leafhoppers</a><br>
					<a href="IMPTraps/2015pdfs/Potatopea_09022015.pdf">Population Map-Potato and Pea Aphids</a><br>
					<a href="IMPTraps/2015pdfs/miscaphidcount_09-02-2015.pdf">Miscellaneous Aphids in 2015 vs. Historical Average</a><br>
					<a href="IMPTraps/2015pdfs/greenpeachbyepoch_09-02-15.pdf">Green Peach By Week of Year</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 26th, 2015</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2015pdfs/Pan08-26-15.pdf">Chart</a><br>
					<a href="IMPTraps/2015pdfs/Greenpeach_08262015.pdf">Population Map-Green Peach Aphids</a><br>
					<a href="IMPTraps/2015pdfs/Misc_08262015.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2015pdfs/psyllid_08262015.pdf">Population Map-Potato Psyllids</a><br>
					<a href="IMPTraps/2015pdfs/LeafHopper_08262015.pdf">Population Map-Leafhoppers</a><br>
					<a href="IMPTraps/2015pdfs/Potatopea_08262015.pdf">Population Map-Potato and Pea Aphids</a><br>
					<a href="IMPTraps/2015pdfs/miscaphidcount_08-26-2015.pdf">Miscellaneous Aphids in 2015 vs. Historical Average</a><br>
					<a href="IMPTraps/2015pdfs/greenpeachbyepoch_08-26-15.pdf">Green Peach By Week of Year</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 19th, 2015</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2015pdfs/Pan08-19-15.pdf">Chart</a><br>
					<a href="IMPTraps/2015pdfs/Greenpeach_08192015.pdf">Population Map-Green Peach Aphids</a><br>
					<a href="IMPTraps/2015pdfs/Misc_08192015.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2015pdfs/psyllid_08192015.pdf">Population Map-Potato Psyllids</a><br>
					<a href="IMPTraps/2015pdfs/LeafHopper_08192015.pdf">Population Map-Leafhoppers</a><br>
					<a href="IMPTraps/2015pdfs/Potatopea_08192015.pdf">Population Map-Potato and Pea Aphids</a><br>
					<a href="IMPTraps/2015pdfs/miscaphidcount_08-19-2015.pdf">Miscellaneous Aphids in 2015 vs. Historical Average</a><br>
					<a href="IMPTraps/2015pdfs/greenpeachbyepoch_08-19-15.pdf">Green Peach By Week of Year</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 12th, 2015</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2015pdfs/Pan08-12-15.pdf">Chart</a><br>
					<a href="IMPTraps/2015pdfs/Misc_08122015.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2015pdfs/LeafHopper_08122015.pdf">Population Map-Leafhoppers</a><br>
					<a href="IMPTraps/2015pdfs/Potatopea_08122015.pdf">Population Map-Potato and Pea Aphids</a><br>
					<a href="IMPTraps/2015pdfs/Greenpeach_08122015.pdf">Population Map-Green Peach Aphids</a><br>
					<a href="IMPTraps/2015pdfs/miscaphidcount_08-12-2015.pdf">Miscellaneous Aphids in 2015 vs. Historical Average</a><br>
					<a href="IMPTraps/2015pdfs/greenpeachbyepoch_08-12-15.pdf">Green Peach By Week of Year</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 5th, 2015</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2015pdfs/Pan08-05-15.pdf">Chart</a><br>
					<a href="IMPTraps/2015pdfs/Misc_08052015.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2015pdfs/LeafHopper_08052015.pdf">Population Map-Leafhoppers</a><br>
					<a href="IMPTraps/2015pdfs/Potatopea_08052015.pdf">Population Map-Potato and Pea Aphids</a><br>
					<a href="IMPTraps/2015pdfs/Greenpeach_08052015.pdf">Population Map-Green Peach Aphids</a><br>
					<a href="IMPTraps/2015pdfs/miscaphidcount_08-05-2015.pdf">Miscellaneous Aphids in 2015 vs. Historical Average</a><br>
					<a href="IMPTraps/2015pdfs/greenpeach2015vsaverage_08-05-15.pdf">Green Peach Aphids in 2015 vs. Historical Average</a><br>


					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 29th, 2015</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2015pdfs/Pan07-29-15.pdf">Chart</a><br>
					<a href="IMPTraps/2015pdfs/Misc_07292015.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2015pdfs/LeafHopper_07292015.pdf">Population Map-Leafhoppers</a><br>
					<a href="IMPTraps/2015pdfs/Potatopea_07292015.pdf">Population Map-Potato and Pea Aphids</a><br>
					<a href="IMPTraps/2015pdfs/Greenpeach_07292015.pdf">Population Map-Green Peach Aphids</a><br>
					<a href="IMPTraps/2015pdfs/miscaphidcount_07-29-2015.pdf">Miscellaneous Aphids in 2015 vs. Historical Average</a><br>
					

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 22nd, 2015</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2015pdfs/Pan07-22-15.pdf">Chart</a><br>
					<a href="IMPTraps/2015pdfs/Misc_07222015.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2015pdfs/LeafHopper_07222015.pdf">Population Map-Leafhoppers</a><br>
					<a href="IMPTraps/2015pdfs/potatopea_07222015.pdf">Population Map-Potato and Pea Aphids</a><br>
					<a href="IMPTraps/2015pdfs/miscaphidcount_07-22-2015.pdf">Miscellaneous Aphids in 2015 vs. Historical Average</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 15th, 2015</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2015pdfs/Pan07-15-15.pdf">Chart</a><br>
					<a href="IMPTraps/2015pdfs/Misc_07152015.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2015pdfs/LeafHopper_07152015.pdf">Population Map-Leafhoppers</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 8th, 2015</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2015pdfs/Pan07-08-15.pdf">Chart</a><br>
					<a href="IMPTraps/2015pdfs/Misc_07082015.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2015pdfs/LeafHopper_07082015.pdf">Population Map-Leafhoppers</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 1st, 2015</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2015pdfs/Pan07-01-15.pdf">Chart</a><br>
					<a href="IMPTraps/2015pdfs/Misc_07012015.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2015pdfs/LeafHopper_07012015.pdf">Population Map-Leafhoppers</a><br>
					<a href="IMPTraps/2015pdfs/greenpeach_07012015.pdf">Population Map-Green Peach Aphids</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>June 24th, 2015</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2015pdfs/Pan06-24-15.pdf">Chart</a><br>
					<a href="IMPTraps/2015pdfs/Misc_06242015.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2015pdfs/LeafHopper_06242015.pdf">Population Map-Leafhoppers</a><br>
					<a href="IMPTraps/2015pdfs/greenpeach_06242015.pdf">Population Map-Green Peach Aphids</a><br>
					<a href="IMPTraps/2015pdfs/potatopea_06242015.pdf">Population Map-Potato and Pea Aphids</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>June 17th, 2015</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2015pdfs/Pan06-17-15.pdf">Chart</a><br>
					<a href="IMPTraps/2015pdfs/Misc_06172015.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2015pdfs/LeafHopper_06172015.pdf">Population Map-Leafhoppers</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>June 10th, 2015</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2015pdfs/Pan06-10-15.pdf">Chart</a><br>
					<a href="IMPTraps/2015pdfs/Misc_06102015.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2015pdfs/LeafHopper_06102015.pdf">Population Map-Leafhoppers</a><br>
					<a href="IMPTraps/2015pdfs/greenpeach_06102015.pdf">Population Map-Green Peach Aphids</a><br>


					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>2014 Files</b></font></p>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>Totals for 2014</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2014pdfs/Pantotal2014.pdf">Chart</a><br>
					<a href="IMPTraps/2014pdfs/Misc_totals.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2014pdfs/LeafHopper_totals.pdf">Population Map-Leafhoppers</a><br>
					<a href="IMPTraps/2014pdfs/potatopea_totals.pdf">Population Map-Potato and Pea Aphids</a><br>
					<a href="IMPTraps/2014pdfs/greenpeach_totals.pdf">Population Map-Green Peach Aphids</a><br>
					<a href="IMPTraps/2014pdfs/psyllid_totals.pdf">Population Map-Potato Psyllid</a><br>
					<a href="IMPTraps/2014pdfs/Russianwheat_totals.pdf">Population Map-Russian Wheat Aphid</a><br>
					<a href="IMPTraps/2014pdfs/MiscAphidFullseasonComplete.pdf">Miscellaneous aphids 2014 vs. Historical End Of Season Graph</a><br>
					<a href="IMPTraps/2014pdfs/GreenPeachFullseasonComplete.pdf">Green Peach aphids 2014 vs. Historical End of Season Graph</a><br>
					<a href="IMPTraps/2014pdfs/GreenPeachEarlySeasonComplete.pdf">Green Peach aphids 2014 vs. Historical Early Season Comparison End of Season Graph</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>September 10th, 2014</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2014pdfs/Pan09-10-14.pdf">Chart</a><br>
					<a href="IMPTraps/2014pdfs/Misc_09102014.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2014pdfs/LeafHopper_09102014.pdf">Population Map-Leafhoppers</a><br>
					<a href="IMPTraps/2014pdfs/potatopea_09102014.pdf">Population Map-Potato and Pea Aphids</a><br>
					<a href="IMPTraps/2014pdfs/greenpeach_09102014.pdf">Population Map-Green Peach Aphids</a><br>
					<a href="IMPTraps/2014pdfs/miscaphidgraph_09102014.pdf">Miscellaneous aphids 2014 vs. Historical</a><br>
					<a href="IMPTraps/2014pdfs/Fullseasonaphidcomparison_09102014.pdf">Green Peach aphids 2014 vs. Historical (Full Season)</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>September 3rd, 2014</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2014pdfs/Pan09-03-14.pdf">Chart</a><br>
					<a href="IMPTraps/2014pdfs/Misc_09032014.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2014pdfs/LeafHopper_09032014.pdf">Population Map-Leafhoppers</a><br>
					<a href="IMPTraps/2014pdfs/potatopea_09032014.pdf">Population Map-Potato and Pea Aphids</a><br>
					<a href="IMPTraps/2014pdfs/greenpeach_09032014.pdf">Population Map-Green Peach Aphids</a><br>
					<a href="IMPTraps/2014pdfs/miscaphidgraph_09032014.pdf">Miscellaneous aphids 2014 vs. Historical</a><br>
					<a href="IMPTraps/2014pdfs/Fullseasonaphidcomparison_09032014.pdf">Green Peach aphids 2014 vs. Historical (Full Season)</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 27th, 2014</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2014pdfs/Pan08-27-14.pdf">Chart</a><br>
					<a href="IMPTraps/2014pdfs/Misc_08272014.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2014pdfs/LeafHopper_08272014.pdf">Population Map-Leafhoppers</a><br>
					<a href="IMPTraps/2014pdfs/potatopea_08272014.pdf">Population Map-Potato and Pea Aphids</a><br>
					<a href="IMPTraps/2014pdfs/greenpeach_08272014.pdf">Population Map-Green Peach Aphids</a><br>
					<a href="IMPTraps/2014pdfs/miscaphidgraph_08272014.pdf">Miscellaneous aphids 2014 vs. Historical</a><br>
					<a href="IMPTraps/2014pdfs/Fullseasonaphidcomparison_08272014.pdf">Green Peach aphids 2014 vs. Historical (Full Season)</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 20th, 2014</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2014pdfs/Pan08-20-14.pdf">Chart</a><br>
					<a href="IMPTraps/2014pdfs/Misc_08202014.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2014pdfs/LeafHopper_08202014.pdf">Population Map-Leafhoppers</a><br>
					<a href="IMPTraps/2014pdfs/potatopea_08202014.pdf">Population Map-Potato and Pea Aphids</a><br>
					<a href="IMPTraps/2014pdfs/greenpeach_08202014.pdf">Population Map-Green Peach Aphids</a><br>
					<a href="IMPTraps/2014pdfs/miscaphidgraph_08202014.pdf">Miscellaneous aphids 2014 vs. Historical</a><br>
					<a href="IMPTraps/2014pdfs/TheSubliminalMessageIsToKillPotatoFields_08202014.pdf">Green Peach aphids 2014 vs. Historical (Full Season)</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 13th, 2014</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2014pdfs/Pan08-13-14.pdf">Chart</a><br>
					<a href="IMPTraps/2014pdfs/Misc_08132014.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2014pdfs/LeafHopper_08132014.pdf">Population Map-Leafhoppers</a><br>
					<a href="IMPTraps/2014pdfs/potatopea_08132014.pdf">Population Map-Potato and Pea Aphids</a><br>
					<a href="IMPTraps/2014pdfs/greenpeach_08132014.pdf">Population Map-Green Peach Aphids</a><br>
					<a href="IMPTraps/2014pdfs/miscaphidgraph_08132014.pdf">Miscellaneous aphids 2014 vs. Historical</a><br>
					<a href="IMPTraps/2014pdfs/greenpeachaphidgraphjunetoaugust_08132014.pdf">Green Peach aphids 2014 vs. Historical (June and July)</a><br>
					<a href="IMPTraps/2014pdfs/ISeeDeadPotatoFields_08132014.pdf">Green Peach aphids 2014 vs. Historical (Full Season)</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 6th, 2014</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2014pdfs/Pan08-06-14.pdf">Chart</a><br>
					<a href="IMPTraps/2014pdfs/Misc_08062014.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2014pdfs/LeafHopper_08062014.pdf">Population Map-Leafhoppers</a><br>
					<a href="IMPTraps/2014pdfs/potatopea_08062014.pdf">Population Map-Potato and Pea Aphids</a><br>
					<a href="IMPTraps/2014pdfs/greenpeach_08062014.pdf">Population Map-Green Peach Aphids</a><br>
					<a href="IMPTraps/2014pdfs/miscaphidgraph_08062014.pdf">Miscellaneous aphids 2014 vs. Historical</a><br>
					<a href="IMPTraps/2014pdfs/greenpeachaphidgraphjunetoaugust_08062014.pdf">Green Peach aphids 2014 vs. Historical (June and July)</a><br>
					<a href="IMPTraps/2014pdfs/PleaseStopPrayingForRain_08062014.pdf">Green Peach aphids 2014 vs. Historical (Full Season)</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 30th, 2014</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2014pdfs/Pan07-30-14.pdf">Chart</a><br>
					<a href="IMPTraps/2014pdfs/Misc_07302014.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2014pdfs/LeafHopper_07302014.pdf">Population Map-Leafhoppers</a><br>
					<a href="IMPTraps/2014pdfs/potatopea_07302014.pdf">Population Map-Potato and Pea Aphids</a><br>
					<a href="IMPTraps/2014pdfs/greenpeach_07302014.pdf">Population Map-Green Peach Aphids</a><br>
					<a href="IMPTraps/2014pdfs/miscaphidgraph_07302014.pdf">Miscellaneous aphids 2014 vs. Historical</a><br>
					<a href="IMPTraps/2014pdfs/greenpeachaphidgraphjunejuly_07302014.pdf">Green Peach aphids 2014 vs. Historical (June and July)</a><br>
					<a href="IMPTraps/2014pdfs/IsSomeoneBuildingAnArk_07302014.pdf">Green Peach aphids 2014 vs. Historical (Full Season)</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 23rd, 2014</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2014pdfs/Pan07-23-14.pdf">Chart</a><br>
					<a href="IMPTraps/2014pdfs/Misc_07232014.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2014pdfs/LeafHopper_07232014.pdf">Population Map-Leafhoppers</a><br>
					<a href="IMPTraps/2014pdfs/potatopea_07232014.pdf">Population Map-Potato and Pea Aphids</a><br>
					<a href="IMPTraps/2014pdfs/greenpeach_07232014.pdf">Population Map-Green Peach Aphids</a><br>
					<a href="IMPTraps/2014pdfs/psyllid_07232014.pdf">Population Map-Potato Psyllids</a><br>
					<a href="IMPTraps/2014pdfs/miscaphidgraph_07232014.pdf">Miscellaneous aphids 2014 vs. Historical</a><br>
					<a href="IMPTraps/2014pdfs/greenpeachaphidgraphjunejuly_07232014.pdf">Green Peach aphids 2014 vs. Historical (June and July)</a><br>
					<a href="IMPTraps/2014pdfs/WatchOutForTheChupacabraBeetles_07232014.pdf">Green Peach aphids 2014 vs. Historical (Full Season)</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 16th, 2014</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2014pdfs/Pan07-16-14.pdf">Chart</a><br>
					<a href="IMPTraps/2014pdfs/Misc_07162014.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2014pdfs/LeafHopper_07162014.pdf">Population Map-Leafhoppers</a><br>
					<a href="IMPTraps/2014pdfs/potatopea_07162014.pdf">Population Map-Potato and Pea Aphids</a><br>
					<a href="IMPTraps/2014pdfs/greenpeach_07162014.pdf">Population Map-Green Peach Aphids</a><br>
					<a href="IMPTraps/2014pdfs/miscaphidgraph_07162014.pdf">Miscellaneous aphids 2014 vs. Historical</a><br>
					<a href="IMPTraps/2014pdfs/greenpeachaphidgraphjunejuly_07162014.pdf">Green Peach aphids 2014 vs. Historical (June and July)</a><br>
					<a href="IMPTraps/2014pdfs/IDrinkBecauseOfHail_07162014.pdf">Green Peach aphids 2014 vs. Historical (Full Season)</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 9th, 2014</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2014pdfs/Pan07-09-14.pdf">Chart</a><br>
					<a href="IMPTraps/2014pdfs/Misc_07092014.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2014pdfs/LeafHopper_07092014.pdf">Population Map-Leafhoppers</a><br>
					<a href="IMPTraps/2014pdfs/potatopea_07092014.pdf">Population Map-Potato and Pea Aphids</a><br>
					<a href="IMPTraps/2014pdfs/greenpeach_07092014.pdf">Population Map-Green Peach Aphids</a><br>
					<a href="IMPTraps/2014pdfs/aphidcomparison_07092014.pdf">Miscellaneous aphids 2014 vs. Historical</a><br>
					<a href="IMPTraps/2014pdfs/greenpeachcomparison_07092014.pdf">Green Peach aphids 2014 vs. Historical (June and July)</a><br>
					<a href="IMPTraps/2014pdfs/IhideMeanThingsInTheURL_07092014.pdf">Green Peach aphids 2014 vs. Historical (Full Season)</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 2nd, 2014</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2014pdfs/Pan07-02-14.pdf">Chart</a><br>
					<a href="IMPTraps/2014pdfs/Misc_07022014.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2014pdfs/LeafHopper_07022014.pdf">Population Map-Leafhoppers</a><br>
					<a href="IMPTraps/2014pdfs/potatopea_07022014.pdf">Population Map-Potato and Pea Aphids</a><br>
					<a href="IMPTraps/2014pdfs/greenpeach_07022014.pdf">Population Map-Green Peach Aphids</a><br>
					<a href="IMPTraps/2014pdfs/aphidcomparison_07022014.pdf">Miscellaneous aphids 2014 vs. Historical</a><br>


					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>June 25th, 2014</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2014pdfs/Pan06-25-14.pdf">Chart</a><br>
					<a href="IMPTraps/2014pdfs/Misc_06252014.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2014pdfs/LeafHopper_06252014.pdf">Population Map-Leafhoppers</a><br>
					<a href="IMPTraps/2014pdfs/aphidcomparison_06252014.pdf">Miscellaneous aphids 2014 vs. Historical</a><br>


					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2014pdfs/miscgraphstatement14june14.pdf">Previous Year Averages to Predict Aphid Flights</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>Totals 2013</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2013pdfs/Pantotal13.pdf">Chart</a><br>
					<a href="IMPTraps/2013pdfs/Misc_total.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2013pdfs/LeafHopper_total.pdf">Population Map-Leaf Hoppers</a><br>
					<a href="IMPTraps/2013pdfs/potatopea_total.pdf">Population Map-Potato and Pea Aphids</a><br>
					<a href="IMPTraps/2013pdfs/greenpeach_total.pdf">Population Map-Green Peach Aphids</a><br>
					<a href="IMPTraps/2013pdfs/russianwheat_total.pdf">Population Map-Russian Wheat Aphids</a><br>
					<a href="IMPTraps/2013pdfs/psyllid_total.pdf">Population Map-Potato Psyllids</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>September 11th, 2013</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2013pdfs/Pan09-11-13.pdf">Chart</a><br>
					<a href="IMPTraps/2013pdfs/Misc_09112013.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2013pdfs/LeafHopper_09112013.pdf">Population Map-Leaf Hoppers</a><br>
					<a href="IMPTraps/2013pdfs/potatopea_09112013.pdf">Population Map-Potato and Pea Aphids</a><br>
					<a href="IMPTraps/2013pdfs/greenpeach_09112013.pdf">Population Map-Green Peach Aphids</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>September 4th, 2013</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2013pdfs/Pan09-04-13.pdf">Chart</a><br>
					<a href="IMPTraps/2013pdfs/Misc_09042013.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2013pdfs/LeafHopper_09042013.pdf">Population Map-Leaf Hoppers</a><br>
					<a href="IMPTraps/2013pdfs/potatopea_09042013.pdf">Population Map-Potato and Pea Aphids</a><br>
					<a href="IMPTraps/2013pdfs/greenpeach_09042013.pdf">Population Map-Green Peach Aphids</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 28th, 2013</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2013pdfs/Pan08-28-13.pdf">Chart</a><br>
					<a href="IMPTraps/2013pdfs/Misc_08282013.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2013pdfs/LeafHopper_08282013.pdf">Population Map-Leaf Hoppers</a><br>
					<a href="IMPTraps/2013pdfs/potatopea_08282013.pdf">Population Map-Potato and Pea Aphids</a><br>
					<a href="IMPTraps/2013pdfs/greenpeach_08282013.pdf">Population Map-Green Peach Aphids</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 21st, 2013</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2013pdfs/Pan08-21-13.pdf">Chart</a><br>
					<a href="IMPTraps/2013pdfs/Misc_08212013.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2013pdfs/LeafHopper_08212013.pdf">Population Map-Leaf Hoppers</a><br>
					<a href="IMPTraps/2013pdfs/potatopea_08212013.pdf">Population Map-Potato and Pea Aphids</a><br>
					<a href="IMPTraps/2013pdfs/greenpeach_08212013.pdf">Population Map-Green Peach Aphids</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 14th, 2013</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2013pdfs/Pan08-14-13.pdf">Chart</a><br>
					<a href="IMPTraps/2013pdfs/Misc_08142013.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2013pdfs/LeafHopper_08142013.pdf">Population Map-Leaf Hoppers</a><br>
					<a href="IMPTraps/2013pdfs/potatopea_08142013.pdf">Population Map-Potato and Pea Aphids</a><br>
					<a href="IMPTraps/2013pdfs/greenpeach_08142013.pdf">Population Map-Green Peach Aphids</a><br>
					<a href="IMPTraps/2013pdfs/russianwheat_08142013.pdf">Population Map-Russian Wheat Aphids</a><br>


					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 7th, 2013</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2013pdfs/Pan08-07-13.pdf">Chart</a><br>
					<a href="IMPTraps/2013pdfs/Misc_08072013.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2013pdfs/LeafHopper_08072013.pdf">Population Map-Leaf Hoppers</a><br>
					<a href="IMPTraps/2013pdfs/potatopea_08072013.pdf">Population Map-Potato and Pea Aphids</a><br>
					<a href="IMPTraps/2013pdfs/greenpeach_08072013.pdf">Population Map-Green Peach Aphids</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 31st, 2013</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2013pdfs/Pan07-31-13.pdf">Chart</a><br>
					<a href="IMPTraps/2013pdfs/Misc_07312013.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2013pdfs/LeafHopper_07312013.pdf">Population Map-Leaf Hoppers</a><br>
					<a href="IMPTraps/2013pdfs/potatopea_07312013.pdf">Population Map-Potato and Pea Aphids</a><br>
					<a href="IMPTraps/2013pdfs/potatopsyllid_07312013.pdf">Population Map-Potato Psyllids</a><br>
					<a href="IMPTraps/2013pdfs/greenpeach_07312013.pdf">Population Map-Green Peach Aphids</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 24th, 2013</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2013pdfs/Pan07-24-13.pdf">Chart</a><br>
					<a href="IMPTraps/2013pdfs/Misc_07242013.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2013pdfs/LeafHopper_07242013.pdf">Population Map-Leaf Hoppers</a><br>
					<a href="IMPTraps/2013pdfs/potatopea_07242013.pdf">Population Map-Potato and Pea Aphids</a><br>
					<a href="IMPTraps/2013pdfs/potatopsyllid_07242013.pdf">Population Map-Potato Psyllids</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 17th, 2013</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2013pdfs/Pan07-17-13.pdf">Chart</a><br>
					<a href="IMPTraps/2013pdfs/Misc_07172013.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2013pdfs/LeafHopper_07172013.pdf">Population Map-Leaf Hoppers</a><br>
					<a href="IMPTraps/2013pdfs/potatopea_07172013.pdf">Population Map-Potato and Pea Aphids</a><br>


					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 10th, 2013</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2013pdfs/Pan07-10-2013.pdf">Chart</a><br>
					<a href="IMPTraps/2013pdfs/Misc_07102013.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2013pdfs/LeafHopper_07102013.pdf">Population Map-Leaf Hoppers</a><br>


					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 3rd, 2013</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2013pdfs/Pan07-03-2013.pdf">Chart</a><br>
					<a href="IMPTraps/2013pdfs/Misc_07032013.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2013pdfs/LeafHopper_07032013.pdf">Population Map-Leaf Hoppers</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>June 26th, 2013</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2013pdfs/Pan06-26-2013.pdf">Chart</a><br>
					<a href="IMPTraps/2013pdfs/Misc06-26-2013.pdf">Population Map-Miscellaneous Aphids</a><br>
					<a href="IMPTraps/2013pdfs/LeafHopper06-26-2013.pdf">Population Map-Leaf Hoppers</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>2012 Files</b></font></p>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>2012 End of Year Totals</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2012pdfs/Pantotal2012.pdf">Chart</a><br>
							<a href="IMPTraps/2012pdfs/GreenPeachPlot_total.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2012pdfs/MiscPlot_total.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2012pdfs/LeafHopperPlot_total.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2012pdfs/PotatoPeaPlot_total.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2012pdfs/PsyllidPlot_total.pdf">Population Map-Potato Psyllids</a><br>
							<a href="IMPTraps/2012pdfs/russianwheatPlot_total.pdf">Population Map-Russian Wheat Aphids</a><br>


					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>September 12th, 2012</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2012pdfs/Pan09-12-12.pdf">Chart</a><br>
							<a href="IMPTraps/2012pdfs/GreenPeachPlot_09122012.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2012pdfs/MiscPlot_09122012.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2012pdfs/LeafHopperPlot_09122012.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2012pdfs/PotatoPeaPlot_09122012.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2012pdfs/PsyllidPlot_09122012.pdf">Population Map-Potato Psyllids</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>September 5th, 2012</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2012pdfs/Pan09-05-12.pdf">Chart</a><br>
							<a href="IMPTraps/2012pdfs/GreenPeachPlot_09052012.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2012pdfs/MiscPlot_09052012.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2012pdfs/LeafHopperPlot_09052012.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2012pdfs/PotatoPeaPlot_09052012.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2012pdfs/PsyllidPlot_09052012.pdf">Population Map-Potato Psyllids</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 29th, 2012</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2012pdfs/Pan08-29-12.pdf">Chart</a><br>
							<a href="IMPTraps/2012pdfs/GreenPeachPlot_08292012.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2012pdfs/MiscPlot_08292012.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2012pdfs/LeafHopperPlot_08292012.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2012pdfs/PotatoPeaPlot_08292012.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2012pdfs/PsyllidPlot_08292012.pdf">Population Map-Potato Psyllids</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 22th, 2012</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2012pdfs/Pan08-22-12.pdf">Chart</a><br>
							<a href="IMPTraps/2012pdfs/GreenPeachPlot_08222012.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2012pdfs/MiscPlot_08222012.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2012pdfs/LeafHopperPlot_08222012.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2012pdfs/PotatoPeaPlot_08222012.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2012pdfs/PsyllidPlot_08222012.pdf">Population Map-Potato Psyllids</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 15th, 2012</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2012pdfs/Pan08-15-12.pdf">Chart</a><br>
							<a href="IMPTraps/2012pdfs/GreenPeachPlot_08152012.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2012pdfs/MiscPlot_08152012.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2012pdfs/LeafHopperPlot_08152012.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2012pdfs/PotatoPeaPlot_08152012.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2012pdfs/PsyllidPlot_08152012.pdf">Population Map-Potato Psyllids</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 8th, 2012</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2012pdfs/Pan08-08-12.pdf">Chart</a><br>
							<a href="IMPTraps/2012pdfs/GreenPeachPlot_08082012.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2012pdfs/MiscPlot_08082012.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2012pdfs/LeafHopperPlot_08082012.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2012pdfs/PotatoPeaPlot_08082012.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2012pdfs/PsyllidPlot_08082012.pdf">Population Map-Psyllids</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 1st, 2012</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2012pdfs/Pan08-01-12.pdf">Chart</a><br>
							<a href="IMPTraps/2012pdfs/GreenPeachPlot_08012012.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2012pdfs/MiscPlot_08012012.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2012pdfs/LeafHopperPlot_08012012.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2012pdfs/PotatoPeaPlot_08012012.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2012pdfs/PsyllidPlot_08012012.pdf">Population Map-Psyllids</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 25, 2012</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2012pdfs/Pan07-25-12.pdf">Chart</a><br>
							<a href="IMPTraps/2012pdfs/GreenPeach_Plot07252012.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2012pdfs/Misc_Plot07252012.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2012pdfs/LeafHopper_Plot07252012.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2012pdfs/PotatoPea_Plot07252012.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2012pdfs/Psyllid_Plot07252012.pdf">Population Map-Psyllids</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 18, 2012</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2012pdfs/Pan07-18-12.pdf">Chart</a><br>
							<a href="IMPTraps/2012pdfs/GreenPeach_Plot07182012.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2012pdfs/Misc_Plot07182012.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2012pdfs/LeafHopper_Plot07182012.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2012pdfs/PotatoPea_Plot07182012.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2012pdfs/Psyllid_Plot07182012.pdf">Population Map-Psyllids</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 11, 2012</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2012pdfs/Pan07-11-12.pdf">Chart</a><br>
							<a href="IMPTraps/2012pdfs/GreenPeachPlot_120711.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2012pdfs/MiscPlot_120711.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2012pdfs/LeafHopperPlot_120711.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2012pdfs/PotatoPeaPlot_120711.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2012pdfs/PsyllidPlot_120711.pdf">Population Map-Psyllids</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 4, 2012</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2012pdfs/Pan07-04-12.pdf">Chart</a><br>
							<a href="IMPTraps/2012pdfs/MiscPlot_120704.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2012pdfs/PotatoPeaplot_120704.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2012pdfs/LeafHopper_120704.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2012pdfs/PsyllidPlot_120704.pdf">Population Map-Potato Psyllids</a><br>
			
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>June 27, 2012</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2012pdfs/Pan06-27-12.pdf">Chart</a><br>
							<a href="IMPTraps/2012pdfs/MiscPlot_120627.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2012pdfs/PotatoPeaPlot_120627.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2012pdfs/PsyllidPlot_120627.pdf">Population Map-Potato Psyllids</a><br>
							<a href="IMPTraps/2012pdfs/LeafHopperPlot_120627.pdf">Population Map-Leaf Hoppers</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>2011 Files</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>2011 End of Year Totals</b></font></p>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2011pdfs/PanTotal2011.pdf">Chart</a><br>
							<a href="IMPTraps/2011pdfs/GreenPeachPlot_total2011.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2011pdfs/MiscPlot_total2011.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2011pdfs/LeafHopperPlot_total2011.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2011pdfs/PotatoPeaPlot_total2011.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2011pdfs/PsyllidPlot_total2011.pdf">Population Map-Psyllids</a><br>
							<a href="IMPTraps/2011pdfs/RussianWheatPlot_total2011.pdf">Population Map-Russian Wheat Aphids</a><br>
						</font></p>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>September 14, 2011</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2011pdfs/Pan09-14-11.pdf">Chart</a><br>
							<a href="IMPTraps/2011pdfs/MiscPlot_110914.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2011pdfs/GreenPeachPlot_110914.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2011pdfs/PsyllidPlot_110914.pdf">Population Map-Potato Psyllids</a><br>
							<a href="IMPTraps/2011pdfs/LeafHopperPlot_110914.pdf">Population Map-Leaf Hoppers</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>September 7, 2011</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2011pdfs/Pan09-07-11.pdf">Chart</a><br>
							<a href="IMPTraps/2011pdfs/MiscPlot_110907.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2011pdfs/GreenPeachPlot_110907.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2011pdfs/PsyllidPlot_110907.pdf">Population Map-Potato Psyllids</a><br>
							<a href="IMPTraps/2011pdfs/LeafHopperPlot_110907.pdf">Population Map-Leaf Hoppers</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 31, 2011</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2011pdfs/Pan08-31-11.pdf">Chart</a><br>
							<a href="IMPTraps/2011pdfs/MiscPlot_110831.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2011pdfs/GreenPeachPlot_110831.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2011pdfs/PotatoPeaPlot_110831.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2011pdfs/LeafHopperPlot_110831.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2011pdfs/RussianWheatPlot_110831.pdf">Population Map-Russian Wheat Aphids</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 24, 2011</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2011pdfs/Pan08-24-11.pdf">Chart</a><br>
							<a href="IMPTraps/2011pdfs/MiscPlot_110824.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2011pdfs/GreenPeachPlot_110824.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2011pdfs/PotatoPeaPlot_110824.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2011pdfs/LeafHopperPlot_110824.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2011pdfs/RussianWheatPlot_110824.pdf">Population Map-Russian Wheat Aphids</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 17, 2011</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2011pdfs/Pan08-17-11.pdf">Chart</a><br>
							<a href="IMPTraps/2011pdfs/MiscPlot_110817.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2011pdfs/GreenPeachPlot_110817.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2011pdfs/PotatoPeaPlot_110817.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2011pdfs/LeafHopperPlot_110817.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2011pdfs/RussianWheatPlot_110817.pdf">Population Map-Russian Wheat Aphids</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 10, 2011</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2011pdfs/Pan08-10-11.pdf">Chart</a><br>
							<a href="IMPTraps/2011pdfs/MiscPlot_110810.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2011pdfs/GreenPeachPlot_110810.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2011pdfs/PotatoPeaPlot_110810.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2011pdfs/LeafHopperPlot_110810.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2011pdfs/RussianWheatPlot_110810.pdf">Population Map-Russian Wheat Aphids</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 3, 2011</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2011pdfs/Pan08-03-11.pdf">Chart</a><br>
							<a href="IMPTraps/2011pdfs/MiscPlot_110803.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2011pdfs/GreenPeachPlot_110803.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2011pdfs/PotatoPeaPlot_110803.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2011pdfs/LeafHopperPlot_110803.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2011pdfs/RussianWheatPlot_110803.pdf">Population Map-Russian Wheat Aphids</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 27, 2011</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2011pdfs/Pan07-27-11.pdf">Chart</a><br>
							<a href="IMPTraps/2011pdfs/MiscPlot_110727.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2011pdfs/GreenPeachPlot_110727.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2011pdfs/PotatoPeaPlot_110727.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2011pdfs/LeafHopperPlot_110727.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2011pdfs/RussianWheatPlot_110727.pdf">Population Map-Russian Wheat Aphids</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 20, 2011</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2011pdfs/Pan07-20-11.pdf">Chart</a><br>
							<a href="IMPTraps/2011pdfs/MiscPlot_110720.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2011pdfs/GreenPeachPlot_110720.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2011pdfs/PotatoPeaPlot_110720.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2011pdfs/LeafHopperPlot_110720.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2011pdfs/RussianWheatPlot_110720.pdf">Population Map-Russian Wheat Aphids</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 13, 2011</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2011pdfs/Pan07-13-11.pdf">Chart</a><br>
							<a href="IMPTraps/2011pdfs/MiscPlot_110713.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2011pdfs/GreenPeachPlot_110713.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2011pdfs/PotatoPeaPlot_110713.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2011pdfs/LeafHopperPlot_110713.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2011pdfs/RussianWheatPlot_110713.pdf">Population Map-Russian Wheat Aphids</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 6, 2011</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2011pdfs/Pan07-06-11.pdf">Chart</a><br>
							<a href="IMPTraps/2011pdfs/MiscPlot_110706.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2011pdfs/GreenPeachPlot_110706.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2011pdfs/PotatoPeaPlot_110706.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2011pdfs/LeafHopperPlot_110706.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2011pdfs/RussianWheatPlot_110706.pdf">Population Map-Russian Wheat Aphids</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>June 29, 2011</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2011pdfs/Pan06-29-11.pdf">Chart</a><br>
							<a href="IMPTraps/2011pdfs/MiscPlot_110629.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2011pdfs/PotatoPeaPlot_110629.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2011pdfs/LeafHopperPlot_110629.pdf">Population Map-Leaf Hoppers</a><br>

					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>2010 Files</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>2010 End of Year Totals</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2010pdfs/PanTotal2010.pdf">Chart</a><br>
							<a href="IMPTraps/2010pdfs/MiscPlot_total2010.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2010pdfs/GreenPeachPlot_total2010.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2010pdfs/PotatoPeaPlot_total2010.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2010pdfs/PsyllidPlot_total2010.pdf">Population Map-Psyllids</a><br>
							<a href="IMPTraps/2010pdfs/LeafHopperPlot_total2010.pdf">Population Map-Leaf Hoppers</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>Historic Comparison</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2010pdfs/Historic_maya.pdf">Comparison of 2010 with Historic Average</a></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>September 14, 2010</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2010pdfs/09_14_10pan.pdf">Chart</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2010pdfs/MiscPlot_100914.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2010pdfs/GreenPeachPlot_100914.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2010pdfs/PsyllidPlot_100914.pdf">Population Map-Psyllids</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>September 7, 2010</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2010pdfs/09_07_10pan.pdf">Chart</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2010pdfs/MiscPlot_100907.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2010pdfs/GreenPeachPlot_100907.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2010pdfs/PotatoPeaPlot_100907.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2010pdfs/LeafHopperPlot_100907.pdf">Population Map-Leaf Hoppers</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 31, 2010</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2010pdfs/08_31_10pan.pdf">Chart</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2010pdfs/MiscPlot_100831.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2010pdfs/GreenPeachPlot_100831.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2010pdfs/PotatoPeaPlot_100831.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2010pdfs/PsyllidPlot_100831.pdf">Population Map-Psyllids</a><br>
							<a href="IMPTraps/2010pdfs/LeafHopperPlot_100831.pdf">Population Map-Leaf Hoppers</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 24, 2010</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2010pdfs/08_24_10pan.pdf">Chart</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2010pdfs/MiscPlot_100824.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2010pdfs/GreenPeachPlot_100824.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2010pdfs/PotatoPeaPlot_100824.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2010pdfs/PsyllidPlot_100824.pdf">Population Map-Psyllids</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 17, 2010</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2010pdfs/08_17_10pan.pdf">Chart</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2010pdfs/MiscPlot_100817.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2010pdfs/GreenPeachPlot_100817.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2010pdfs/PotatoPeaPlot_100817.pdf">Population Map-Potato or Pea Aphids</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 10, 2010</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2010pdfs/08_10_10pan.pdf">Chart</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2010pdfs/MiscPlot_100810.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2010pdfs/GreenPeachPlot_100810.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2010pdfs/PotatoPeaPlot_100810.pdf">Population Map-Potato or Pea Aphids</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 3, 2010</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2010pdfs/08_03_10pan.pdf">Chart</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2010pdfs/MiscPlot_100803.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2010pdfs/GreenPeachPlot_100803.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2010pdfs/PotatoPeaPlot_100803.pdf">Population Map-Potato or Pea Aphids</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 27, 2010</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2010pdfs/07_27_10pan.pdf">Chart</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2010pdfs/MiscPlot_100727.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2010pdfs/LeafHopperPlot_100727.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2010pdfs/PotatoPeaPlot_100727.pdf">Population Map-Potato or Pea Aphids</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 20, 2010</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2010pdfs/07_20_10pan.pdf">Chart</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2010pdfs/MiscPlot_100720.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2010pdfs/LeafHopperPlot_100720.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2010pdfs/PotatoPeaPlot_100720.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2010pdfs/PsyllidPlot_100720.pdf">Population Map-Psyllids</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 13, 2010</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2010pdfs/07_13_10pan.pdf">Chart</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2010pdfs/MiscPlot_100713.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2010pdfs/LeafHopperPlot_100713.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2010pdfs/PotatoPeaPlot_100713.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2010pdfs/PsyllidPlot_100713.pdf">Population Map-Psyllids</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 6, 2010</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2010pdfs/07_06_10pan.pdf">Chart</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2010pdfs/MiscPlot_100706.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2010pdfs/LeafHopperPlot_100706.pdf">Population Map-Leaf Hoppers</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>June 29, 2010</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2010pdfs/06_29_10pan.pdf">Chart</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2010pdfs/MiscPlot_100629.pdf">Population Map-Miscellaneous Aphids</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>June 22, 2010</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2010pdfs/06_22_10pan.pdf">Chart</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2010pdfs/MiscPlot_100622.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2010pdfs/LeafHopperPlot_100622.pdf">Population Map-Leaf Hoppers</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>2009 Files</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>Historic Comparison</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2009pdfs/Historic_maya.pdf">Comparison of 2009 with Historic Average</a></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>September 8, 2009</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2009pdfs/pan09_08_09.pdf">Chart</a><br>
							<a href="IMPTraps/2009pdfs/GreenPeachPlot_090908.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2009pdfs/MiscPlot_090908.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2009pdfs/LeafHopperPlot_090908.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2009pdfs/PotatoPeaPlot_090908.pdf">Population Map-Potato or Pea Aphids</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>September 1, 2009</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2009pdfs/pan09_01_09.pdf">Chart</a><br>
							<a href="IMPTraps/2009pdfs/GreenPeachPlot_090901.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2009pdfs/MiscPlot_090901.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2009pdfs/LeafHopperPlot_090901.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2009pdfs/PotatoPeaPlot_090901.pdf">Population Map-Potato or Pea Aphids</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 25, 2009</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2009pdfs/pan08_25_09.pdf">Chart</a><br>
							<a href="IMPTraps/2009pdfs/GreenPeachPlot_090825.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2009pdfs/MiscPlot_090825.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2009pdfs/PotatoPeaPlot_090825.pdf">Population Map-Potato or Pea Aphids</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 18, 2009</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2009pdfs/pan08_18_09.pdf">Chart</a><br>
							<a href="IMPTraps/2009pdfs/GreenPeachPlot_090818.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2009pdfs/MiscPlot_090818.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2009pdfs/LeafHopperPlot_090818.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2009pdfs/PotatoPeaPlot_090818.pdf">Population Map-Potato or Pea Aphids</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 11, 2009</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2009pdfs/pan08_11_09.pdf">Chart</a><br>
							<a href="IMPTraps/2009pdfs/GreenPeachPlot_090811.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2009pdfs/MiscPlot_090811.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2009pdfs/LeafHopperPlot_090811.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2009pdfs/PotatoPeaPlot_090811.pdf">Population Map-Potato or Pea Aphids</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 4, 2009</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2009pdfs/pan08_04_09.pdf">Chart</a><br>
							<a href="IMPTraps/2009pdfs/GreenPeachPlot_090804.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2009pdfs/MiscPlot_090804.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2009pdfs/LeafHopperPlot_090804.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2009pdfs/PotatoPeaPlot_090804.pdf">Population Map-Potato or Pea Aphids</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 28, 2009</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2009pdfs/pan07_28_09.pdf">Chart</a><br>
							<a href="IMPTraps/2009pdfs/GreenPeachPlot_090728.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2009pdfs/MiscPlot_090728.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2009pdfs/LeafHopperPlot_090728.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2009pdfs/PotatoPeaPlot_090728.pdf">Population Map-Potato or Pea Aphids</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 21, 2009</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2009pdfs/pan07_21_09.pdf">Chart</a><br>
							<a href="IMPTraps/2009pdfs/GreenPeachPlot_090721.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2009pdfs/MiscPlot_090721.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2009pdfs/LeafHopperPlot_090721.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2009pdfs/PotatoPeaPlot_090721.pdf">Population Map-Potato or Pea Aphids</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 14, 2009</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2009pdfs/pan07_14_09.pdf">Chart</a><br>
							<a href="IMPTraps/2009pdfs/MiscPlot_090714.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2009pdfs/LeafHopperPlot_090714.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2009pdfs/PotatoPeaPlot_090714.pdf">Population Map-Potato or Pea Aphids</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 7, 2009</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2009pdfs/pan07_07_09.pdf">Chart</a><br>
							<a href="IMPTraps/2009pdfs/MiscPlot_090707.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2009pdfs/LeafHopperPlot_090707.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2009pdfs/PotatoPeaPlot_090707.pdf">Population Map-Potato or Pea Aphids</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>June 30, 2009</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2009pdfs/pan06_30_09.pdf">Chart</a><br>
							<a href="IMPTraps/2009pdfs/MiscPlot_090630.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2009pdfs/LeafHopperPlot_090630.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2009pdfs/PotatoPeaPlot_090630.pdf">Population Map-Potato or Pea Aphids</a><br>
						</font></p>
					<p></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>Historic Comparison</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2008pdfs/Historic_maya.pdf">Comparison of 2008 with Historic Average</a></font></p>
					<p></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 27, 2008</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2008pdfs/Pan08_27_08.pdf">Chart</a><br>
							<a href="IMPTraps/2008pdfs/MiscPlot_080827.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2008pdfs/LeafHopperPlot_080827.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2008pdfs/PotPeaPlot_080827.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2008pdfs/GreenPeachPlot_080827.pdf">Population Map-Green Peach Aphids</a><br>
						</font></p>
					<p></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 20, 2008</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2008pdfs/Pan08_20_08.pdf">Chart</a><br>
							<a href="IMPTraps/2008pdfs/MiscPlot_080820.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2008pdfs/LeafHopperPlot_080820.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2008pdfs/PotPeaPlot_080820.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2008pdfs/GreenPeachPlot_080820.pdf">Population Map-Green Peach Aphids</a><br>
						</font></p>
					<p></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 13, 2008</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2008pdfs/Pan08_13_08.pdf">Chart</a><br>
							<a href="IMPTraps/2008pdfs/MiscPlot_080813.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2008pdfs/LeafHopperPlot_080813.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2008pdfs/PotPeaPlot_080813.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2008pdfs/GreenPeachPlot_080813.pdf">Population Map-Green Peach Aphids</a><br>
						</font></p>
					<p></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 6, 2008</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2008pdfs/Pan08_06_08.pdf">Chart</a><br>
							<a href="IMPTraps/2008pdfs/MiscPlot_080806.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2008pdfs/LeafHopperPlot_080806.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2008pdfs/PotPeaPlot_080806.pdf">Population Map-Potato or Pea Aphids</a><br>
						</font></p>
					<p></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 30, 2008</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2008pdfs/Pan07_30_08.pdf">Chart</a><br>
							<a href="IMPTraps/2008pdfs/MiscPlot_080730.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2008pdfs/LeafHopperPlot_080730.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2008pdfs/PotPeaPlot_080730.pdf">Population Map-Potato or Pea Aphids</a><br>
						</font></p>
					<p></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 23, 2008</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2008pdfs/pan07_23_08.pdf">Chart</a><br>
							<a href="IMPTraps/2008pdfs/MiscPlot_080723.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2008pdfs/LeafHopperPlot_080723.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2008pdfs/PotPeaPlot_080723.pdf">Population Map-Potato or Pea Aphids</a><br>
						</font></p>
					<p></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 17, 2008</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2008pdfs/Pan07_16_08.pdf">Chart</a><br>
							<a href="IMPTraps/2008pdfs/MiscPlot_080716.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2008pdfs/LeafHopperPlot_080716.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2008pdfs/PotPeaPlot_080716.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2008pdfs/GreenPeachPlot_080716.pdf">Population Map-Green Peach Aphids</a><br>
						</font></p>
					<p></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 9, 2008</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2008pdfs/Pan07_09_08.pdf">Chart</a><br>
							<a href="IMPTraps/2008pdfs/MiscPlot_080709.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2008pdfs/LeafHopperPlot_080709.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2008pdfs/PotPeaPlot_080709.pdf">Population Map-Potato or Pea Aphids</a><br>
						</font></p>
					<p></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 2, 2008</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2008pdfs/Pan07_02_08.pdf">Chart</a><br>
							<a href="IMPTraps/2008pdfs/MiscPlot_080702.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2008pdfs/LeafHopperPlot_080702.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2008pdfs/PotPeaPlot_080702.pdf">Population Map-Potato or Pea Aphids</a><br>
						</font></p>
					<p></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>June 25, 2008</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2008pdfs/Pan06-25-08.pdf">Chart</a><br>
							<a href="IMPTraps/2008pdfs/MiscPlot_080625.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2008pdfs/GreenPeachPlot_080625.pdf">Population Map-Green Peach Aphids</a><br>
						</font></p>
					<p></p>
					<p></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>2007 End of Year Totals</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2007pdfs/TOTAL2007_PANTRAPS.pdf">Chart</a><br>
							<a href="IMPTraps/2007pdfs/TOTAL2007_MiscPlot.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2007pdfs/TOTAL2007_GreenPeachPlot.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2007pdfs/TOTAL2007_PotatoPeaPlot.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2007pdfs/TOTAL2007_PsyllidPlot.pdf">Population Map-Psyllids</a><br>
							<a href="IMPTraps/2007pdfs/TOTAL2007_LeafHopperPlot.pdf">Population Map-Leaf Hoppers</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>September 12, 2007</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2007pdfs/091207_PANTRAPS.pdf">Chart</a><br>
							<a href="IMPTraps/2007pdfs/091207_Historic_Aphid.pdf">Historical Comparison</a><br>
							<a href="IMPTraps/2007pdfs/091207_MiscPlot.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2007pdfs/091207_GreenPeachPlot.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2007pdfs/091207_PotatoPeaPlot.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2007pdfs/091207_PsyllidPlot.pdf">Population Map-Psyllids</a><br>
							<a href="IMPTraps/2007pdfs/091207_LeafHopperPlot.pdf">Population Map-Leaf Hoppers</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>September 5, 2007</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2007pdfs/090507_PANTRAPS.pdf">Chart</a><br>
							<a href="IMPTraps/2007pdfs/090507_Historic_Aphid.pdf">Historical Comparison</a><br>
							<a href="IMPTraps/2007pdfs/090507_MiscPlot.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2007pdfs/090507_GreenPeachPlot.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2007pdfs/090507_PotatoPeaPlot.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2007pdfs/090507_PsyllidPlot.pdf">Population Map-Psyllids</a><br>
							<a href="IMPTraps/2007pdfs/090507_LeafHopperPlot.pdf">Population Map-Leaf Hoppers</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 29, 2007</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2007pdfs/082907_PANTRAPS.pdf">Chart</a><br>
							<a href="IMPTraps/2007pdfs/082907_Historic_Aphid.pdf">Historical Comparison</a><br>
							<a href="IMPTraps/2007pdfs/082907_MiscPlot.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2007pdfs/082907_GreenPeachPlot.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2007pdfs/082907_PotatoPeaPlot.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2007pdfs/082907_PsyllidPlot.pdf">Population Map-Psyllids</a><br>
							<a href="IMPTraps/2007pdfs/082907_LeafHopperPlot.pdf">Population Map-Leaf Hoppers</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 22, 2007</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2007pdfs/082207_PANTRAPS.pdf">Chart</a><br>
							<a href="IMPTraps/2007pdfs/082207_MiscPlot.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2007pdfs/082207_GreenPeachPlot.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2007pdfs/082207_PotatoPeaPlot.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2007pdfs/082207_LeafHopperPlot.pdf">Population Map-Leaf Hoppers</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 15, 2007</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2007pdfs/081507_PANTRAPS.pdf">Chart</a><br>
							<a href="IMPTraps/2007pdfs/081507_MiscPlot.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2007pdfs/081507_GreenPeachPlot.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2007pdfs/081507_PotatoPeaPlot.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2007pdfs/081507_LeafHopperPlot.pdf">Population Map-Leaf Hoppers</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 8, 2007</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2007pdfs/080807_PANTRAPS.pdf">Chart</a><br>
							<a href="IMPTraps/2007pdfs/080807_MiscPlot.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2007pdfs/080807_GreenPeachPlot.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2007pdfs/080807_PotatoPeaPlot.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2007pdfs/080807_LeafHopperPlot.pdf">Population Map-Leaf Hoppers</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 1, 2007</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2007pdfs/080107_PANTRAPS.pdf">Chart</a><br>
							<a href="IMPTraps/2007pdfs/080107_MiscPlot.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2007pdfs/080107_GreenPeachPlot.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2007pdfs/080107_PotatoPeaPlot.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2007pdfs/080107_LeafHopperPlot.pdf">Population Map-Leaf Hoppers</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 25, 2007</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2007pdfs/072507_PANTRAPS.pdf">Chart</a><br>
							<a href="IMPTraps/2007pdfs/072507_MiscPlot.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2007pdfs/072507_PotatoPeaPlot.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2007pdfs/072507_LeafHopperPlot.pdf">Population Map-Leaf Hopper</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 18, 2007</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2007pdfs/071807_PANTRAPS.pdf">Chart</a><br>
							<a href="IMPTraps/2007pdfs/071807_MiscPlot.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2007pdfs/071807_LeafHopperPlot.pdf">Population Map-Leaf Hopper</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 11, 2007</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2007pdfs/071107_PANTRAPS.pdf">Chart</a><br>
							<a href="IMPTraps/2007pdfs/071107_MiscPlot.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2007pdfs/071107_GreenPeachPlot.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2007pdfs/071107_PotatoPeaPlot.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2007pdfs/071107_LeafHopperPlot.pdf">Population Map-Leaf Hoppers</a><br>
						</font></p>
					<p><font size="3" face="Arial"><b>July 4, 2007</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2007pdfs/070407_PANTRAPS.pdf">Chart</a><br>
							<a href="IMPTraps/2007pdfs/070407_MiscPlot.pdf">Population Map-Miscellaneous Aphids</a><br>
						</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>June 27, 2007</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2007pdfs/062707_PANTRAPS.pdf">Chart</a><br>
							<a href="IMPTraps/2007pdfs/062707_MiscPlot.pdf">Population Map-Miscellaneous Aphids</a><br>
						</font></p>
					<p></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>2006 End of Year Totals</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2006pdfs/End_of_Year_Totals_2006/PanTotal2006.pdf">Chart</a><br>
							<a href="IMPTraps/2006pdfs/End_of_Year_Totals_2006/GPA.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2006pdfs/End_of_Year_Totals_2006/MISC_APHID.pdf">Population Map-Miscellaneous Aphids</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2006pdfs/End_of_Year_Totals_2006/Psyllid.pdf">Population Map-Psyllids</a><br>
							<a href="IMPTraps/2006pdfs/End_of_Year_Totals_2006/Leafhopper.pdf">Population Map-Leaf Hoppers</a><br>
							<a href="IMPTraps/2006pdfs/End_of_Year_Totals_2006/Pot_Pea.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2006pdfs/End_of_Year_Totals_2006/Russian_Wheat.pdf">Population Map-Russian Wheat Aphids</a></font></p>
					<p></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>September 13, 2006</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2006pdfs/September_13_2006/Pan09-13-06.pdf">Chart</a><br>
							<a href="IMPTraps/2006pdfs/September_13_2006/GPA.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2006pdfs/September_13_2006/Misc.pdf">Population Map-Miscellaneous Aphids</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2006pdfs/September_13_2006/Pot_Pea.pdf">Population Map-Potato or Pea Aphids</a><br>
						</font></p>
					<p></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>September 6, 2006</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2006pdfs/September_06_2006/Pan09-06-06.pdf">Chart</a><br>
							<a href="IMPTraps/2006pdfs/September_06_2006/GPA.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2006pdfs/September_06_2006/Misc.pdf">Population Map-Miscellaneous Aphids</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2006pdfs/September_06_2006/Psyllid.pdf">Population Map-Psyllids</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2006pdfs/September_06_2006/Pot_Pea.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2006pdfs/September_06_2006/Russian_Aphid.pdf">Population Map-Russian Wheat Aphids</a></font></p>
					<p></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 30, 2006</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2006pdfs/August_30_2006/Pan08-30-06.pdf">Chart</a><br>
							<a href="IMPTraps/2006pdfs/August_30_2006/GPA.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2006pdfs/August_30_2006/Misc_Aphid.pdf">Population Map-Miscellaneous Aphids</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2006pdfs/August_30_2006/Leafhopper.pdf">Population Map-Leaf Hoppers</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2006pdfs/August_30_2006/Pot_Pea_Aphid.pdf">Population Map-Potato or Pea Aphids</a><br>
						</font></p>
					<p></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 23, 2006</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2006pdfs/August_23_2006/Pan08-23-06.pdf">Chart</a><br>
							<a href="IMPTraps/2006pdfs/August_23_2006/GPA.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2006pdfs/August_23_2006/Misc_Aphid.pdf">Population Map-Miscellaneous Aphids</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2006pdfs/August_23_2006/Psyllid.pdf">Population Map-Psyllids</a><br>
							<a href="IMPTraps/2006pdfs/August_23_2006/Leafhopper.pdf">Population Map-Leaf Hoppers</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2006pdfs/August_23_2006/Pot_Pea_Aphid.pdf">Population Map-Potato or Pea Aphids</a><br>
						</font></p>
					<p></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 16, 2006</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2006pdfs/August_16_2006/Pan08-16-06.pdf">Chart</a><br>
							<a href="IMPTraps/2006pdfs/August_16_2006/GPA.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2006pdfs/August_16_2006/Misc_Aphid.pdf">Population Map-Miscellaneous Aphids</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2006pdfs/August_16_2006/Psyllid.pdf">Population Map-Psyllids</a><br>
							<a href="IMPTraps/2006pdfs/August_16_2006/Leafhopper.pdf">Population Map-Leaf Hoppers</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2006pdfs/August_16_2006/Pot_Pea.pdf">Population Map-Potato or Pea Aphids</a><br>
						</font></p>
					<p></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 9, 2006</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2006pdfs/August_9_2006/Pan08-9-06.pdf">Chart</a><br>
							<a href="IMPTraps/2006pdfs/August_9_2006/GPA.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2006pdfs/August_9_2006/Misc_Aphid.pdf">Population Map-Miscellaneous Aphids</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2006pdfs/August_9_2006/Psyllid.pdf">Population Map-Psyllids</a><br>
							<a href="IMPTraps/2006pdfs/August_9_2006/Leafhopper.pdf">Population Map-Leaf Hoppers</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2006pdfs/August_9_2006/Pot_Pea_Aphid.pdf">Population Map-Potato or Pea Aphids</a><br>
						</font></p>
					<p></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 2, 2006</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2006pdfs/August_2_2006/Pan08-2-06.pdf">Chart</a><br>
							<a href="IMPTraps/2006pdfs/August_2_2006/GPA.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2006pdfs/August_2_2006/Misc_Aphid.pdf">Population Map-Miscellaneous Aphids</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2006pdfs/August_2_2006/Psyllid.pdf">Population Map-Psyllids</a><br>
							<a href="IMPTraps/2006pdfs/August_2_2006/Leafhopper.pdf">Population Map-Leaf Hoppers</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2006pdfs/August_2_2006/Pot_Pea_Aphid.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2006pdfs/August_2_2006/Russian_Wheat.pdf">Population Map-Russian Wheat Aphids</a></font></p>
					<p></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 26, 2006</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2006pdfs/July_26_2006/Pan07-26-06.pdf">Chart</a><br>
							<a href="IMPTraps/2006pdfs/July_26_2006/GPA_Plot.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2006pdfs/July_26_2006/Misc_Aphid_Plot.pdf">Population Map-Miscellaneous Aphids</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2006pdfs/July_26_2006/Psyllid_Plot.pdf">Population Map-Psyllids</a><br>
							<a href="IMPTraps/2006pdfs/July_26_2006/Leafhopper.pdf">Population Map-Leaf Hoppers</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2006pdfs/July_26_2006/Pot_Pea_Aphid_Plot.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2006pdfs/July_26_2006/Russian_Wheat_Aphid_Plot.pdf">Population Map-Russian Wheat Aphids</a></font></p>
					<p></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 19, 2006</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="/CropInfo/IMPTraps/2006pdfs/July_19_2006/Pan07-19-06.pdf">Chart</a><br>
							<a href="IMPTraps/2006pdfs/July_19_2006/GPA_Plot_7-19-06.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2006pdfs/July_19_2006/Misc_Aphid_Plot_7-19-06.pdf">Population Map-Miscellaneous Aphids</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2006pdfs/July_19_2006/Leafhopper_7-19-06.pdf">Population Map-Leaf Hoppers</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2006pdfs/July_19_2006/Potato_Pea_7-19-06.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2006pdfs/July_19_2006/Russ_Wheat_Aphid_7-19-06.pdf">Population Map-Russian Wheat Aphids</a></font></p>
					<p></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>July 12, 2006</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="/CropInfo/IMPTraps/2006pdfs/July_12_2006/Data_07-12-06.pdf">Chart</a><br>
							<a href="IMPTraps/2006pdfs/July_12_2006/GPAPlot.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2006pdfs/July_12_2006/Misc_AphidPlot.pdf">Population Map-Miscellaneous Aphids</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2006pdfs/July_12_2006/Leafhopper.pdf">Population Map-Leaf Hoppers</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2006pdfs/July_12_2006/Pot_Pea_Aphid.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2006pdfs/July_12_2006/Russ_Wheat_Aphid.pdf">Population Map-Russian Wheat Aphids</a></font></p>
					<p></p>
					<p><font size="3" face="Arial"><b>July 5, 2006</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2006pdfs/PAN07-05-06.pdf">Chart</a><br>
							<a href="IMPTraps/2006pdfs/MiscPlot_060705.pdf">Population Map-Miscellaneous Aphids</a><br>
							<a href="IMPTraps/2006pdfs/Leafhopper_060705.pdf">Population Map-Leaf Hopper Aphids</a><br>
							<a href="IMPTraps/2006pdfs/PsyllidPlot_060705.pdf">Population Map-Psyllids</a><br>
						</font></p>
					<p></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>June 28, 2006</b></font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2006pdfs/PAN06-28-06.pdf">Chart</a><br>
							<a href="IMPTraps/2006pdfs/MiscPlot_060628.pdf">Population Map-Miscellaneous Aphids</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2006pdfs/PsyllidPlot_060628.pdf">Population Map-Psyllids</a><br>
						</font></p>
					<p></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="4">2005 Charts and Maps</font></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>2005 Totals<br>
							</b><a href="IMPTraps/2005pdfs/Pan2005Totals.pdf">Chart</a><br>
							<a href="IMPTraps/2005pdfs/GreenPeachPlot_Total2005.pdf">Population Map-Green Peach Aphids</a><br>
							<a href="IMPTraps/2005pdfs/MiscPlot_Total2005.pdf">Population Map-Miscellaneous Aphids</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2005pdfs/PsyllidPlot_Total2005.pdf">Population Map-Psyllids</a><br>
							<a href="IMPTraps/2005pdfs/LeafHopperPlot_Total2005.pdf">Population Map-Leaf Hoppers</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2005pdfs/PotatoPeaPlot_Total2005.pdf">Population Map-Potato or Pea Aphids</a><br>
							<a href="IMPTraps/2005pdfs/RussianWheatPlot_Total2005.pdf">Population Map-Russian Wheat Aphids</a></font></p>
					<p></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 12, 2005<br>
							</b><a href="IMPTraps/2005pdfs/Pan08-12-05.pdf">Chart</a><br>
							<a href="IMPTraps/2005pdfs/MiscPlot_050812.pdf">Population Map-Miscellaneous Aphids</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2005pdfs/PsyllidPlot_050812.pdf">Population Map-Psyllids</a><br>
							<a href="IMPTraps/2005pdfs/PotatoPeaPlot_050812.pdf">Population Map-Potato or Pea Aphid</a><br>
							<a href="IMPTraps/2005pdfs/LeafHopperPlot_050812.pdf">Population Map-Leaf Hoppers</a></font></p>
					<p></p>
					<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><b>August 05, 2005<br>
							</b><a href="IMPTraps/2005pdfs/Pan08-05-05.pdf">Chart</a><br>
							<a href="IMPTraps/2005pdfs/MiscPlot_050805.pdf">Population Map-Miscellaneous Aphids</a><br>
						</font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="3"><a href="IMPTraps/2005pdfs/PsyllidPlot_050805.pdf">Population Map-Psyllids</a><br>
							<a href="IMPTraps/2005pdfs/LeafHopperPlot_050805.pdf">Population Map-Leaf Hoppers</a></font></p>
	</div>
	<div class="footer">
		<div class="container_footer">
			<div>
				<ul>
					<p> Copyright Agro Engineering Inc. 2016</p>
				</ul>
			</div>
		</div>
	</div>
</body>