<!doctype html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="indexstyle.css" />
	<title>Remote Sensing, Satellite Imagery, and GIS</title>
</head>
<body>
	<div class="pagetop">
		<div class="pagetop_pic">
			<a href="http://www.agro.com"><img src="http://i.imgur.com/ii4SpRt.jpg" /></a>
		</div>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="contactus.html">Contact Us</a></li>
			<li><a href="clientlogin.html">Client Login</a></li>
			<li><a href="aboutus.html">About Us</a></li>
			<li><a href="services.html">Services</a></li>
			<li><a href="ourstaff.html">Our Staff</a></li>
			<li><a href="weather.html">Weather</a></li>
			<li><a href="Resources.html">Resources</a></li>
			<li><a href="ipmlinks.html">IPM Links</a></li>
		</ul>
	</div>
	<div class="specificservicestitle">
		<h1>Remote Sensing, Satellite Imagery, and GIS</h1>
	</div>
	<div class="specificservicedescription">
		<p>As water, energy and environmental concerns become more critical, it becomes increasingly important to engineer and manage farm systems with care. Irrigation, fertility, plant protection and other technologies must be applied in a manner which assures sustainable agricultural resources and economic return. Agro Engineering provides a vital link in transferring sustainable technology through its design, management and training programs.</p>
	</div>
	<div class="returntoservicesbutton">
		<a href="services.html">Return To All Services</a>
	</div>
	<div class="footer">
		<div class="container_footer">
			<div>
				<ul>
					<p> Copyright Agro Engineering Inc. 2016</p>
				</ul>
			</div>
		</div>
	</div>
</body>